body{
    background-color: var(--bg-primary-color) !important;
}
.avatar{
    max-width: 280px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15), 0 2px 10px 0 rgba(0,0,0,.11);
}
.j-cont{
    background-color:  var(--tile-bg-color);
    padding: 15px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15), 0 2px 10px 0 rgba(0,0,0,.11);
}

.footer{
    background-color:  var(--tile-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15), 0 2px 10px 0 rgba(0,0,0,.11);
    text-align: center;
    margin-top: 15px;
}

.footer p {
    word-wrap: break-word;
  }
.head{
    padding: 0 15px 0 40px;
    width: 100%;
}
.text-highlight{
    color: var(--highlight-color)
}
.action-card{
    display: flex;
    padding: 0;
    align-items: center;
}
.title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-links{
    min-height: 25px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
    box-shadow: 0 2px 4px 1px rgba(0.2, 0.2, 0.2, 0.2); /* Box shadow property */
    background-color: var(--tile-bg-color);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-links:hover{
    background-color: var(--bg-primary-color);
}
.icons-btn{
    margin: 0 5px;
    color:  var(--font-bold-color);
}
.contact-cont{
    padding-top: 15px;
}
.j-cont-two-cols{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.j-col-35{
    max-width: 330px;
    width: 100%;
}
.j-col-65{
    width: calc(100% - 345px);
    /* background-color:  var(--tile-bg-color);
    border-radius: 10px;
    padding: 15px; */
}
.col-left{
    background-color:  var(--tile-bg-color);
    border-radius: 10px;
    padding: 15px;

}
.col-left-nlp{
    background-color:  var(--tile-bg-color);
    border-radius: 10px;
    padding: 15px 15px 15px 0;

}
.relative{
    position: relative;
}
.blue-round{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: var(--highlight-color);
    right: -100px;
    bottom: -100px;
    z-index: -10;
    border-radius: 50px;
}
.compplex-proj{
    background-color:  var(--tile-bg-color);
    border-radius: 10px;
    padding: 10px 15px;

}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    /* padding: 10px 0; */

}
.skills-item{
    /* min-height: 25px;
    display: inline-flex;
    align-items: center; */
    padding: 5px;
    box-shadow: 0 2px 4px 1px rgba(0.2, 0.2, 0.2, 0.2); /* Box shadow property */
    background-color: var(--tile-bg-color);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.proj-cont{
    background-color:  var(--tile-bg-color);
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
}
.exp-item{
    margin-top: 15px;
    display: flex;
}
.logo{
    max-width: 60px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}
.project-img{
    max-width: 350px;
}
.proj-item{
    display: flex;
}
.proj-item-details{
    padding: 0 0 0 15px;
}
.skills-container-proj{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin-top: 15px;
}
.skills-item-proj{
    padding: 5px;
    box-shadow: 0 2px 4px 1px rgba(0.2, 0.2, 0.2, 0.2); /* Box shadow property */
    background-color: var(--tile-bg-color);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.project-img-cont{
    position: relative;
    max-width: 100%;

}
.view{
    padding: 7px 20px;
    border-radius: 8px;
    background-color:  var(--highlight-color);
    color:   var(--tile-bg-color);
    border: none;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}
.view:hover{
    padding: 7px 20px;
    border-radius: 8px;
    background-color: var(--tile-bg-color);
    color:  var(--highlight-color) ;
    border: 1px solid var(--highlight-color);
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;

}
.code{
    padding: 7px 20px;
    border-radius: 8px;
    background-color: var(--tile-bg-color);
    color:  var(--highlight-color) ;
    border: 1px solid var(--highlight-color);
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}
.code:hover{
    padding: 7px 20px;
    border-radius: 8px;
    background-color:  var(--highlight-color);
    color:   var(--tile-bg-color);
    border: none;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}
.work-section{
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
}

.footer p {
    line-height: normal;
  }
  .footer-div{
    display: flex;
    flex-direction: column;
  }

@media screen and (max-width: 1001px){ 
    .proj-item{
        flex-direction: column;
    }
    .project-img{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    .proj-item-details{
        padding: 15px 15px 0 0;
    }
}

@media screen and (max-width: 854px){ 
    .head{
        padding: 0 15px 0 15px;
        width: 100%;
    }
}
@media screen and (max-width: 811px){ 
    .head{
        padding: 0 15px 0 15px;
        width: 100%;
    }
    .title-wrap{
        display: block
    }
    .j-col-65{
        width: calc(100% - 315px);
    }
    .j-col-35{
        max-width: 300px;
    }
}
  /*                   */
 /* global breakpoint */
/*                   */
@media screen and (max-width: 668px){ 
    .j-cont{
        flex-direction: column;
        max-width: 340px;
        margin: 0 auto;
    }
    .avatar{
        max-width: 330px;
        width: 100%;
    }
    .j-cont-two-cols{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .j-col-35{
        max-width: 370px;
    }
    .j-col-65{
        margin-top: 15px;
        width: 100%;
        max-width: 370px;
    }
    .footer{
        max-width: 340px;
        margin: 15px auto;


    }
    .footer p {
    white-space: normal;
    }
}
