<div class="j-cont-outer">
    <div class="j-cont">
        <div>
            <img src="../../assets/img/profilepic-v3.png" alt="" class="avatar">
        </div>
        <div class="head">
            <div class="title-wrap">
                <div class="title-cont">
                    <h1>Jhon <span class="text-highlight">Mendiola</span></h1>
                    <h5>Front-end developer</h5>
                </div>
                <div class="action-cont">
                    <div class="action-card">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" 
                                    fontIcon="mail_outline"  [ngStyle]="{'color':'var(--font-color)'}">
                        </mat-icon>
                        <h5 class="ml-10 text-highlight">jhonreymendiola@gmail.com</h5>
                    </div>
                    <div class="action-card">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" 
                                    fontIcon="stay_current_portrait"  [ngStyle]="{'color':'var(--font-color)'}">
                        </mat-icon>
                        <h5 class="ml-10 text-highlight">(+63)-9989-0247-051</h5>
                    </div>
                </div>
            </div>
            <div>
                <p>I'm Jhon, a frontend developer with <span class="bold-p">2+ years</span>  of experience in <span class="bold-p">Angular.</span> 
                    I specialize in creating <span class="bold-p">user-friendly interfaces, efficient data handling,</span> 
                    and <span class="bold-p">dynamic web experiences</span> with <span class="bold-p">clean code</span>
                </p>
                <p>Let's collaborate! I enjoy working with teams to deliver <span class="bold-p">exceptional user experiences. </span>
                    If you need a <span class="bold-p">skilled Angular developer</span> to bring your ideas to life, I'm here to help.
                </p>
            </div>
            <div>
                <button class="card-links" onclick="window.open('https://github.com/AngPayas055', '_blank')">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"  
                        fontIcon="github"  [ngStyle]="{'color':'var(--font-color)'}">
                    </mat-icon>
                    <label class="label">Github</label>                    
                </button>
            </div>
        </div>
    </div>
</div>