<div class="j-cont-outer">
    <div class="j-cont">
        <div>
            <img src="../../assets/img/profilepic-v3.png" alt="" class="avatar">
        </div>
        <div class="head">
            <div class="title-wrap">
                <div class="title-cont">
                    <h1>Jhon <span class="text-highlight">Mendiola</span></h1>
                    <h5>Front-end developer</h5>
                </div>
                <div class="action-cont">
                    <div class="action-card">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" 
                                    fontIcon="mail_outline"  [ngStyle]="{'color':'var(--font-color)','font-size':'20px'}">
                        </mat-icon>
                        <h5 class="ml-5 text-highlight">jhonreymendiola@gmail.com</h5>
                    </div>
                    <div class="action-card">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" 
                                    fontIcon="stay_current_portrait"  [ngStyle]="{'color':'var(--font-color)','font-size':'20px'}">
                        </mat-icon>
                        <h5 class="ml-5 text-highlight">(+63)-998-9027-051</h5>
                    </div>
                </div>
            </div>
            <div>
                <p>I'm Jhon, a frontend developer with <span class="bold-p">2+ years</span>  of experience in <span class="bold-p">Angular.</span> 
                    I specialize in creating <span class="bold-p">user-friendly interfaces, efficient data handling,</span> 
                    and <span class="bold-p">dynamic web experiences</span> with <span class="bold-p">clean code</span>
                </p>
                <p>Let's collaborate! I enjoy working with teams to deliver <span class="bold-p">exceptional user experiences. </span>
                    If you need a <span class="bold-p">skilled Angular developer</span> to bring your ideas to life, I'm here to help.
                </p>
            </div>
            <div class="contact-cont">
                <button class="card-links" onclick="window.open('https://github.com/AngPayas055', '_blank')">
                    <i class="fa-brands fa-github icons-btn"></i>
                    <label class="label">Github</label>                    
                </button>
                <button class="card-links" onclick="window.open('https://www.linkedin.com/in/jhon-rey-mendiola-758685213/', '_blank')">
                    <i class="fa-brands fa-linkedin icons-btn"></i>
                    <label class="label">Linkedin</label>                    
                </button>
                <button class="card-links" onclick="window.open('https://drive.google.com/file/d/1lM0vIryWjvGVLm68ztrAhe2dvO4C_RAa/view?usp=sharing', '_blank')">
                    <i class="fa-solid fa-file-pdf icons-btn"></i>
                    <label class="label">Resume</label>                    
                </button>
            </div>
        </div>
    </div>
    <div class="j-cont-two-cols">
        <div class="j-col-35">
            <div class="col-left">
                <h2>Skills</h2>
                <p>Here are some technologies I use for building website</p>
                <div class="skills-container">
                    <span class="skills-item">HTML5</span>
                    <span class="skills-item">CSS3</span>
                    <span class="skills-item">JavaScript</span>
                    <span class="skills-item">TypeScript</span>
                    <span class="skills-item">Angular</span>
                    <span class="skills-item">Git</span>
                    <span class="skills-item">Github</span>
                    <span class="skills-item">Azure</span>
                    <span class="skills-item">Responsive Design</span>
                    <span class="skills-item">API</span>
                    <span class="skills-item">Material UI</span>
                    <span class="skills-item">PrimeNG</span>
                    <span class="skills-item">Bootsrap</span>
                    <span class="skills-item">C#</span>
                    <span class="skills-item">.NET</span>
                    <span class="skills-item">Laravel</span>
                    <span class="skills-item">PHP</span>
                    <span class="skills-item">MySql</span>
                    <span class="skills-item">SQL Server</span>
                </div>
            </div>
            <div class="col-left mt-15">
                <h2>Experience</h2>
                <div class="exp-item">
                    <div>
                        <img src="../../assets/img/logo-aditri.png" alt="" class="logo">
                    </div>
                    <div>                        
                        <p class="font-first"><span class="bold-p">Software Engineer</span></p>
                        <p class="font-first">Aditri Tech World</p>
                        <p class="font-first">Jan 2023 - May 2023</p>
                        <p class="font-first">Remote • Full-time</p>
                    </div>
                </div>
                <div class="exp-item">
                    <div>
                        <img src="../../assets/img/logo-hii.png" alt="" class="logo">
                    </div>
                    <div>                        
                        <p class="font-first"><span class="bold-p">Software Engineer</span></p>
                        <p class="font-first">Human Incubator Inc</p>
                        <p class="font-first">Aug 2021 - Jan 2023</p>
                        <p class="font-first">Remote • Full-time</p>
                    </div>
                </div>
                <div class="exp-item">
                    <div>
                        <img src="../../assets/img/logo-kodego.png" alt="" class="logo">
                    </div>
                    <div>                        
                        <p class="font-first"><span class="bold-p">Software Engineer</span></p>
                        <p class="font-first">KodeGo</p>
                        <p class="font-first">May 2021 - Aug 2021</p>
                        <p class="font-first">Remote • Apprenticeship</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="j-col-65">
            <div class="compplex-proj">
                <h3>Personal Projects</h3>
            </div>
            <div class="proj-cont">
                <div class="proj-item">
                    <div class="project-img-cont">
                        <img src="../../assets/img/CONTACTAPP-1196X733.png" alt="" class="project-img">
                        <div class="skills-container-proj">
                            <span class="skills-item-proj">Angular</span>
                            <span class="skills-item-proj">TypeScript</span>
                            <span class="skills-item-proj">HTML5</span>
                            <span class="skills-item-proj">CSS3</span>
                            <span class="skills-item-proj">Material UI</span>
                            <span class="skills-item-proj">ChartJS</span>
                            <span class="skills-item-proj">Responsive Design</span>
                            <span class="skills-item-proj">Git</span>
                            <span class="skills-item-proj">Github</span>
                        </div>
                    </div>
                    <span class="proj-item-details">
                        <h2>Contact Manager</h2>
                        <p>Contact Manager is an Angular Material-based application with a dynamic CRUD table, 
                            PDF export, interactive donut chart, and customizable button settings. 
                            Simplify contact management effortlessly.
                        </p>
                        <div>
                            <button class="view">View</button>
                            <button class="code ml-10">Code</button>
                        </div>
                    </span>
                </div>
            </div>
            <div class="proj-cont">
                <div class="proj-item">
                    <div class="project-img-cont">
                        <img src="../../assets/img/JAC.png" alt="" class="project-img">
                        <div class="skills-container-proj">
                            <span class="skills-item-proj">Angular</span>
                            <span class="skills-item-proj">TypeScript</span>
                            <span class="skills-item-proj">HTML5</span>
                            <span class="skills-item-proj">CSS3</span>
                            <span class="skills-item-proj">Material UI</span>
                            <span class="skills-item-proj">Responsive Design</span>
                            <span class="skills-item-proj">PHP - Laravel</span>
                            <span class="skills-item-proj">MySql</span>
                            <span class="skills-item-proj">API</span>
                            <span class="skills-item-proj">Git</span>
                            <span class="skills-item-proj">Github</span>
                        </div>
                    </div>
                    <span class="proj-item-details">
                        <h2>Jac Social</h2>
                        <p>Jac Social is a full-stack social media app that revolutionizes online interactions. 
                            With robust CRUD functionality for posts and comments, 
                            users can effortlessly create, read, update, and delete their content. 
                            Seamlessly manage your social media presence, engage with others, 
                            and customize your experience with Jac Social's dynamic features and themes.
                        </p>
                        <div>
                            <button class="view">View</button>
                            <button class="code ml-10">Code</button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>





    <footer class="footer">
       <p>Copyright © 2023 Created & Design by Jhon Mendiola. All rights reserved.</p> 

        <p>Built with Angular - Material UI Hosted on Vercel</p>
    </footer>
</div>