/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'oswald-bold';
    src: url('../src/assets/Oswald-Bold.ttf');
  }
  @font-face {
    font-family: 'oswald-extralight';
    src: url('../src/assets/Oswald-ExtraLight.ttf');
  }
  @font-face {
    font-family: 'oswald-light';
    src: url('../src/assets/Oswald-Light.ttf');
  }
  @font-face {
    font-family: 'oswald-medium';
    src: url('../src/assets/Oswald-Medium.ttf');
  }
  @font-face {
    font-family: 'oswald-regular';
    src: url('../src/assets/Oswald-Regular.ttf');
  }
  @font-face {
    font-family: 'oswald-semibold';
    src: url('../src/assets/Oswald-SemiBold.ttf');
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body{
	--bg-primary-color:#DBCBBD;
	--tile-bg-color:#FCFFE7; 
	--font-bold-color:#290001;
	--font-color:#87431D;
	--highlight-color:#2e7de8;

    background-color: var(--bg-primary-color);
}

body.dark-theme{
	--bg-primary-color:#87431D;
	--tile-bg-color:#290001;
	--font-bold-color:#FCFFE7;
	--font-color:#DBCBBD;
	--highlight-color:#FF00FF;


}
.j-cont-outer{
    margin: 0 auto;
    max-width: 1100px;
    padding: 15px;
}
h1{    
    color: var(--font-bold-color);
    font-family: 'oswald-light';
    font-size: 34px;
    margin: 5px 0;
}
h2{
    font-size: 23px;
    line-height: 27px;
    color: var(--font-color);
    padding: 0;
    margin: 2px;
    font-weight: 500;
}
h3{
    font-size: 20px;
    line-height: 22px;
    color: var(--font-color);
    padding: 0;
    margin: 2px;
    font-weight: 400;
}
h5{
    font-size: 18px;
    line-height: 27px;
    color: var(--font-color);
    padding: 0;
    margin: 2px;
    font-weight: 500;
}
p{
    font-size: 15px;
    line-height: 23px;
    color: var(--font-color);
}
li{
    font-size: 15px;
    line-height: 23px;
    color: var(--font-color);
}
.font-first{
  font-size: 15px;
  line-height: 18px;
  color: var(--font-color);
  margin: 5px 0;
}
label{
    font-size: 15px;
    line-height: 23px;
    color: var(--font-color);
}
.bold-p{
    color: var(--font-bold-color);
    font-weight: bold;
}






/* utilities */
.mt-15{
  margin-top: 15px;
}
.ml-15{
    margin-left: 15px;
}
.ml-10{
    margin-left: 10px;
}
.ml-5{
    margin-left: 5px;
}
.mb-5{
  line-height: 5px;
}